:root {
    --left: 3rem;
}

@font-face {
    font-family: 'norse';
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sidebar {
    color: white;
    background-image: url(photo-1585202900225-6d3ac20a6962.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#sidebar p {
    align-self: center;
}

#sidebar #logo {
    margin-top: calc(0.22*100vh);
    display: flex;
    background-color: rgba(14, 14, 14, 0.325);
    justify-content: center;

}

#sidebar img {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 15rem;
    margin: 0px;

}

#sidebar h3 {
    align-self: center;
    font-family: norse;
    font-size: 8rem;
}

#content {
    width: 62.5%;
}


h1,
h2 {
    margin-left: var(--left);
}

#content {
    background-color: ;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-message {
    margin-top: calc(0.16*100vh);
}

.hero-callToAction {
    margin-top: 1rem;
    padding-bottom: 0rem;
    padding-bottom: calc(0.08*100vh);
}

.form-callToAction {
    margin-top: calc(0.03*100vh);
    margin-bottom: calc(0.03*100vh);
}

fieldset {
    border: none;
}

label {
    display: block;
}

#form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

form {
    margin-right: 0px;
    margin-left: var(--left);
    display: flex;
    padding-right: 50rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 3rem;

}

input:required:invalid {
    border: 2px solid red;
}

.signup-input input {
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 8px;
    width: 250px;
}



.button-submit {
    margin: 2.5rem;
    font-size: 1rem;
    color: white;
    background-color: #596D48;
    border-radius: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

a {
    color: #596D48;
    text-decoration: none;

}